<div class="wrapper">
        {{#if user}}
         <div id="tabs">
            <button class="tab active" id="defaultOpen" onclick="openMe('first')" >Access point 1</button>           
            <button class="tab tab-two" onclick="openMe('second')" >Access point 2</button>
            <button class="tab" onclick="openMe('third')" >Access point 3</button>
         </div>
        
        <div id="first" class="content">
            <h2>Access point 1</h2>
             <ul class="people_list">

  {{#each data}}

<tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Access Time</td>
</tr>
<tr>
  <td><p>{{this.First_Name}}</p></td>
  </tr>
  <tr>
  <td><p>{{this.Last_Name}}</p></td>
  </tr>
  <tr>
  <td><p>{{this.Logs.[0]}}</p></td>
</tr>

  {{/each}}

</ul>    

        </div>
        <div id="second" class="content">
            <h2>Access point 2</h2>
            <p></p>
        </div>
        <div id="third" class="content">
            <h2>Access point 3</h2>
            <p></p>
        </div>
        </div>
        
{{else}}
<img  src="public/img/home-pic.png" class="img-responsive" alt="Generic placeholder thumbnail">
{{/if}}



<script src="/public/js/script.js"></script>
