{{#if user}}
<ul class="people_list">

  {{#each data}}
    <li>
    {{this.Logs.[0]}}
    {{this.First_Name}}
    {{this.Last_Name}}
   </li>
  {{/each}}

</ul>
 {{else}}
<img  src="public/img/home-pic.png" class="img-responsive" alt="Generic placeholder thumbnail">    


{{/if}}

<script src="/public/js/script.js"></script>
