html,body{
    height: 100%;
    padding-top: 50px;
}



a{
    font-family: Comfortaa;
    font-size: 20px;
    color: black;
    padding-right: 10px;
    
}

a:active{
    color: #878787;
}
a:focus{
    color: #878787;
}

i{
    color: rgb(82, 82, 82);
    font-size: 30px;
}
#delete-form{
    display: inline;
}
.soc_buttons{
    float: right;
    padding-top: 10px;
}

.header_topline{
    background-color: darkgray;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top_links{
    float: left;
    padding-top: 15px;
    margin-left: 20px
    
}

.auth_buttons{
    background: transparent;
    padding-top: 15px;
    margin-left: 8px;
    border: none;
    float: left;
}

p{
    color: darkgray;
    font-size: 14px;
    font-family: Comfortaa;
    
}

#username{
    padding-top: 10px;
    float: right;
}

#search{
    font-family: Comfortaa;
    font-size: 20px;
}

.fa-eraser{
    padding-right: 5px;
}

.name{
    
    font-size: 20px;
    text-align: justify;
}

th{
    font-family: Comfortaa;
    font-size: 20px;
}

.manage{
    font-size: 20px;
    background-color: #DDDDDD;
    
}

button,label,input{
    font-family: Comfortaa;
}



.manage:hover{
    background-color: #c9c9c9;
}

.logo{
    padding-top: 5px;
    float: left;
}
.projectname{
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.group{
    display: inline-block;
}

.register, .btnsave{
    float: right;
}

span{
    font-family: Comfortaa;
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
}

.img-responsive{
    border-radius: 100px;
}




@media only screen and (max-width: 900px) {
    .top_links{
        display: none;
        margin-top: 50px;
        padding: 13px;
        position: fixed;
        vertical-align: middle;
        width: 150px;
        float: right;
        background-color: lightgray;
        z-index: -2;
    }
    
    #background{
        background-position: inherit;
    }

    .manage{
        display: block;
    }
}

@media only screen and (min-width: 768px){
    .top_links{
        display: block !important;
    }
   
    .sidebar {
    top: 50px;
    position: fixed;
    padding: 20px;
    z-index: 1000;
    background-color: #c9c9c9;
    height: 100%;
    -webkit-box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
  }
    .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  
}
