html,body{
    height: 100%;
    padding-top: 50px;
    background-color: #ECEFF4;
    
}

h3{
    color: rgb(241, 241, 241);
}

a{
    font-family: Comfortaa;
    font-size: 20px;
    color: #f2f2f2;
    padding-right: 10px;
    transition: 0.2s
    
}

.welcome:hover{
   color: #222D31 !important;
}

i{
    color: rgb(131, 131, 131);
    font-size: 30px;
}

hr{
    margin-bottom: 15px;
    margin-top: 15px;
}

.login{
    margin-top: 140px;
}

.logo{
    margin-bottom: 10px;
}

#delete-form{
    display: inline;
}

#globalsearch{
    width: 100px;
    float: right;
    margin-top: 10px;
}
.soc_buttons{
    float: right;
    padding-top: 10px;
}

.tab-three, .tab-third{
    float: right;
}

.social{
    
    color: #a0afbf;
    transition: 0.2s;
}

.social:hover{
    color: #9c9494;
}

.header_topline{
    background-color: #667184;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top_links{
    float: left;
    padding-top: 15px;
    margin-left: 20px
    
}

.auth_buttons{
    background: transparent;
    padding-top: 15px;
    margin-left: 8px;
    border: none;
    float: left;
}

p{
    
    font-size: 14px;
    font-family: Comfortaa;
    
}

.register{
    margin-bottom: 30px;
}

#username{
    padding-top: 10px;
    float: right;
}

#search{
    font-family: Comfortaa;
    font-size: 20px;
}

.fa-eraser{
    padding-right: 5px;
}

.name{
    
    font-size: 20px;
    text-align: justify;
}

th{
    font-family: Comfortaa;
    font-size: 20px;
}

.manage{
    font-size: 16px;
    background-color: #c4c4c4;
    color: black;
    
}

.butman{
    color: #534e4e;
    font-size: 23px;
    padding-right: 3px;
}

button,label,input{
    font-family: Comfortaa;
    
}

.manage:hover{
    background-color: #c9c9c9;
}

.logo{
    padding-top: 5px;
    float: left;
}
.projectname{
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.login-logo{
    margin-bottom: 10px;
}

.group{
    display: inline-block;
}

.register, .btnsave{
    float: right;
}

span{
    font-family: Roboto;
    display: block;
    font-size: 20px;
}

.employee-img{
    border-radius: 50%;
    width:50px;
    height:50px; 

}

.employee-info{
    border-radius: 50%;
}

.tab{
    border-color: transparent;
    font-size: 20px;
    background-color: #647a97;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}
.tab:focus{
    outline: none;
}
.tab:hover{
    background-color: #878787;
}

.content{
 font-size: 20px;
    background: rgb(192, 192, 192);
    padding: 5px 20px;
    color:rgb(0, 0, 0);
    display: none;
}
.tab:active{
    background-color: #C1CEDF;
}

.titles{
    color: darkgray;
    font-size: 16px;
    font-family: Comfortaa;
}

.active{
    background: #919191; 
}

.tab-two{
    margin-left: 1.5%;
}

.tab-second{
    margin-left: 4px;
}

.employeeinfo{
    margin-left:50px;
}

.socialpg i {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 40px;
    
    
}





@media only screen and (max-width: 768px) {
    .top_links{
        display: none;
        margin-top: 50px;
        padding: 13px;
        position: fixed;
        vertical-align: middle;
        width: 150px;
        float: right;
        background-color: #969696;
        
    }

    .tab-two{
        margin-left:0px;
    }

    
    .table-emp, span{
        font-size: 3vw;
    }

    #access_time{
        display: block;
    }

    .table{
        overflow: hidden;
    }

    .drop-links:hover{
         color: rgba(194, 200, 207, 0.829);
         text-decoration: none;
    }

    .soc_buttons{
        display: none;
    }

    .tab{
        width: 100%;
    }

    .manage{
        
    width: 100%;
    }
}

@media only screen and (min-width: 768px){
    .top_links{
        display: block !important;
    }
   
    .tab{
        width: 32%;
    }

    .sidebar {
    top: 50px;
    position: fixed;
    padding: 20px;
    z-index: 1000;
    background-color: #222D31;
    height: 100%;
    -webkit-box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 5px -4px 15px 0px rgba(0,0,0,0.4);
  }
    .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .registerForm{
    width:50%;
    float: left;
}
  
}


